doctype html
html
  head
    title Evolutionary Computation Project
    link(rel="stylesheet", href="../vendor/bootstrap.css")
    link(rel="stylesheet", href="../vendor/bootstrap-theme.css")
    link(rel="stylesheet", href="index.css")
  body
    #visualize.row
      #container.col-md-8
      #settings.col-md-4
        .form-group
          input.form-control#get-generations(placeholder="Generations", value="500")
          input.form-control#get-population-size(placeholder="Population Size", value="100")
          input.form-control#get-crossover-rate(placeholder="Crossover Rate", value="0.95")
          input.form-control#get-mutation-rate(placeholder="Mutation Rate", value="0.05")
          input.form-control#get-capacity(placeholder="Center Node Capacity")
          a.btn.btn-default#start-evolve Evolve
        .form-group
          input.form-control#gen-filename(placeholder="Name")
          input.form-control#gen-nodes(placeholder="Nodes Per Center")
          input.form-control#gen-radius(placeholder="Node Radius")
          .form-inline
            input.form-control#input-center(placeholder="x,y")
            a.btn.btn-default#add-center Add Center
          a.btn.btn-default#gen-file Generate Data
        ul#centers-list
    script(src="../vendor/jquery-2.1.0.js")
    script(src="../vendor/bootstrap.js")
    script(src="../vendor/d3.js", charset="utf-8")
    script(src="helpers.js")
    script(src="ga.js")
    script(src="gendata.js")
    script(src="visualize.js")
    script(src="display.js")
