body {
  margin: 20px;
}

ul li {
  list-style-type: none;
}

.btn {
  margin: 5px;
}

.form-control {
  width: 100%;
}

.fa-times {
  display: inline-block;
}

#result {
  display: none;
  width: 200px;
}
